# IDE & System
.idea/
.gradle/
*.iml
.DS_Store

# Build & Version Control
build/
!build/libs/*.jar
bin/
.git/
.gitignore

# Documentation
README.md
*.md

# Secrets & Local Config
.env*
src/main/resources/firebase-service-account.json

# Large Assets or Model Data
src/main/resources/ml/
opentelemetry-javaagent.jar
